name: popup_menu_2
description: a pupup menu, for porpose not break the user attention,.
repository: https://github.com/ymrabti/popup_menu_2.git
# publish_to: https://pub.dev

version: 0.0.3

environment:
  sdk: ">=2.16.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true
